.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 675px;
}

.u-section-1 .u-text-1 {
  margin: 23px auto 0 21px;
}

.u-section-1 .u-group-1 {
  min-height: 593px;
  margin-bottom: 8px;
  margin-top: 12px;
  height: auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}.u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 483px;
}

.u-section-2 .u-text-1 {
  margin: 14px 38px 0 auto;
}

.u-section-2 .u-text-2 {
  margin: 25px 14px 0 666px;
}

.u-section-2 .u-group-1 {
  width: 578px;
  min-height: 335px;
  height: auto;
  margin: -314px auto 60px 14px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 480px;
  }

  .u-section-2 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-left: 260px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 482px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 80px;
  }

  .u-section-2 .u-group-1 {
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-group-1 {
    width: 340px;
  }
}.u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 784px;
}

.u-section-3 .u-text-1 {
  font-size: 1.25rem;
  margin: 31px 105px 0 719px;
}

.u-section-3 .u-text-2 {
  font-size: 1.875rem;
  margin: -27px 461px 0 14px;
}

.u-section-3 .u-group-1 {
  width: 202px;
  min-height: 703px;
  margin: 9px 333px 0 auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 0 10px;
}

.u-section-3 .u-image-1 {
  width: 86px;
  height: 86px;
  margin: 14px 1px 0 95px;
}

.u-section-3 .u-image-2 {
  width: 85px;
  height: 86px;
  margin: 63px 0 0 auto;
}

.u-section-3 .u-image-3 {
  width: 86px;
  height: 86px;
  margin: 63px 0 0 auto;
}

.u-section-3 .u-image-4 {
  width: 86px;
  height: 86px;
  margin: 63px 0 0 auto;
}

.u-section-3 .u-image-5 {
  width: 86px;
  height: 86px;
  margin: 63px 1px 0 auto;
}

.u-section-3 .u-text-3 {
  margin: -656px 86px 0 838px;
}

.u-section-3 .u-text-4 {
  margin: 112px 86px 0 838px;
}

.u-section-3 .u-text-5 {
  margin: 112px 86px 0 838px;
}

.u-section-3 .u-text-6 {
  margin: 112px 86px 0 838px;
}

.u-section-3 .u-text-7 {
  margin: 112px 86px 0 838px;
}

.u-section-3 .u-image-6 {
  width: 540px;
  height: 541px;
  margin: -675px auto 60px 84px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 5px;
    margin-left: 619px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 275px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
    margin-left: 724px;
  }

  .u-section-3 .u-text-4 {
    margin-right: 0;
    margin-left: 724px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
    margin-left: 724px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 0;
    margin-left: 724px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 724px;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 404px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 55px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 504px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 504px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 504px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 504px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 504px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    margin-left: 224px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 0;
  }

  .u-section-3 .u-text-3 {
    margin-left: 324px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 324px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 324px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 324px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 324px;
  }

  .u-section-3 .u-image-6 {
    margin-left: 0;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 584px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 24px;
  }

  .u-section-3 .u-text-2 {
    margin-top: 161px;
    font-size: 1.5rem;
  }

  .u-section-3 .u-group-1 {
    margin-right: 138px;
  }

  .u-section-3 .u-text-3 {
    margin-left: 124px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 124px;
  }

  .u-section-3 .u-text-5 {
    margin-left: 124px;
  }

  .u-section-3 .u-text-6 {
    margin-left: 124px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 124px;
  }

  .u-section-3 .u-image-6 {
    width: 340px;
    height: 341px;
  }
}.u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 300px;
}

.u-section-4 .u-text-1 {
  margin: 21px 371px 0 21px;
}

.u-section-4 .u-text-2 {
  font-size: 3rem;
  margin: 15px 36px 0 1036px;
}

.u-section-4 .u-text-3 {
  font-size: 1rem;
  margin: -57px 416px 0 29px;
}

.u-section-4 .u-text-4 {
  font-size: 3rem;
  margin: -125px 307px 0 761px;
}

.u-section-4 .u-shape-1 {
  width: 178px;
  height: 51px;
  margin: -51px 117px 0 auto;
}

.u-section-4 .u-text-5 {
  margin: 7px 21px 60px 744px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 192px;
    margin-left: 0;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
    margin-left: 872px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 245px;
    margin-left: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 207px;
    margin-left: 661px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
    margin-left: 565px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-text-2 {
    margin-left: 652px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 25px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 97px;
    margin-left: 551px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-2 {
    margin-left: 472px;
  }

  .u-section-4 .u-text-3 {
    margin-right: 0;
  }

  .u-section-4 .u-text-4 {
    margin-right: 7px;
    margin-left: 461px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 165px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-text-2 {
    margin-left: 272px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
    margin-left: 268px;
  }

  .u-section-4 .u-text-5 {
    margin-left: 0;
  }
}